* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* Navbar */
.nav-link {
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: #f59e0b;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#modal, #modalResult, #modalConfirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s ease-in-out;
    width: 50%;
    max-width: 700px;
    background: #f7e6e6;
    z-index: 9999;
    border: 3px solid black;
    border-radius: 5px;
    /* overflow: hidden; */
}

.active {
    color: yellow !important;
    text-decoration: underline;
}

.noticeCRS, .noticeEligiblity {
    animation: fadeOut 8s ease-in-out;
}

.navBig {
    display: block;
}

/* .navSmall {
    display: none;
} */

#burger {
    display: none;
}

#labelburger {
    display: none;
    cursor: pointer;
}

/* media query */
@media (max-width: 1015px) {
    #modal, #modalResult, #modalConfirmation {
        width: 90%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .navBig {
        display: none;
    }

    #labelburger {
        display: block;
    }

    /* .navSmall {
        display: flex;
        flex-flow: column nowrap;
    } */

    #burger:checked + .navBig,
    #burger:checked + #labelburger + .navSmall {
        display: flex;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    #modal, #modalResult, #modalConfirmation {
        font-size: 12pt;
    }
}